body {
  background-color: #EAC9C1;
  margin: 0 auto;
  color:black;
}

.container {
  width: 600px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.container img {
  width: 100%;
}

h1 {
  margin-top: 20px;
  font-family: 'Lobster';
  font-size: 50px;
  margin-bottom: 40px;
}

input {
  height: 50px;
  width: 200px;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
}

.form {
  margin-bottom: 40px;
}

.answer-text {
  font-size: 80px;
  color: black;
  font-family: 'Lobster';
}

.hide {
  display: none;
}

.form-hide {
  width: 300px;
}

.placeholder{
  color: black;
}

.age {
background-color: white;
  color:black;
}








